html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fbebea;
  color: #222;
  background-image: url("../img/4-layers.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px)  105px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 130px;
}
.logo {
  margin-right: 24px;
}

.nav__list {
  display: flex;
  font-weight: normal;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #2d2829;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin:0 23px;
}

.phone-number {
  margin-left: auto;
  text-decoration: none;
  font-size: 15px;
  color: #2d2829;
  font-weight: 700;
}

.nav__link--active {
  color: #f50049;
}

    /* MAIN */

              /* HERO SECTION */

.hero__title {
  color: #2e2829;
  font-size: 78px;
  text-align: left;
  letter-spacing: 0.44px;
  max-width: 353px;
  margin: 0;
  margin-bottom: 31px;
}

.hero__text {
  font-size: 41px;
  color: #32313d;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.hero__link {
  text-decoration: none;
  color: #fff;
  background-color: #f50049;
  border-radius: 26px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 21px 67px;
}

.about {
  margin-top: 148px;
  display: flex;
  align-items: center;
}

.about__text--ingrident {
  width: 267px;
  display: flex;
  align-items: center;
}

.about__text--dastavka{
  display: flex;
  width: 300px;
  align-items: flex-end;
}

.about__text--ingrident::before{
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-image: url("../img/иконка_ингредиенты.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.about__text--dastavka::before{
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-image: url("../img/иконка_доставка.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
}








@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}