html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fbebea;
  color: #222;
  background-image: url("../img/4-layers.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px)  105px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  margin-right: 24px;
}

.nav__list {
  display: flex;
  font-weight: normal;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #2d2829;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin:0 23px;
}

.phone-number {
  margin-left: auto;
  text-decoration: none;
  font-size: 15px;
  color: #2d2829;
  font-weight: 700;
}

.nav__link--active {
  color: #f50049;
}







@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}